extends layout

block bodyContent
  body
    .section
      .container
        h1 About the Project
        p 
          | This project was completed for the 
          a(href='https://cla.umn.edu/french-italian') Department of French and Italian 
          | at the University of Minnesota under the supervision of Dr. Susan Noakes.
