@(title:String)

@main(title) {
<div class="section">
    <div class="container">
        <h1>The Immigration History Research Center Archives at the University of Minnesota
        </h1>
        <h2>Italian Immigrant Experiences</h2>
        <p> The <a href="https://www.lib.umn.edu/ihrca">Immigration History Research Center Archives</a> contains a pleaturea of documents on immigration from immigrants to the United States. One particular strength of the archive is the vast amount of information from Italian immigrants, and this project seeks to make that information easily accessable to the public.
        </p>
        <h2 id="Visitng">Visiting the archives</h2>
        <p> The <a href="https://www.lib.umn.edu/ihrca">Immigration History Research Center Archives </a>are located in <a href="https://www.lib.umn.edu/andersen">Andersen Library. </a>Additional information about visitng the archives can be found <a href="https://www.lib.umn.edu/special/getting-archives">here</a>.</p>
    </div>
</div>
}
