extends layout

block bodyContent
  .section
    .container
      h1 The Immigration History Research Center Archives at the University of Minnesota
      h2 Italian Immigrant Experiences
      p 
        | The 
        a(href='https://www.lib.umn.edu/ihrca') Immigration History Research Center Archives 
        | contains a pleaturea of documents on immigration from immigrants to the United States. One particular strength of the archive is the vast amount of information from Italian immigrants, and this project seeks to make that information easily accessable to the public. 
      h2#Visitng Visiting the archives
      p 
        | The 
        a(href='https://www.lib.umn.edu/ihrca') Immigration History Research Center Archives 
        | are located in 
        a(href='https://www.lib.umn.edu/andersen') Andersen Library. 
        | Additional information about visitng the archives can be found 
        a(href='https://www.lib.umn.edu/special/getting-archives') here
        | .
        
<!--<title></title><script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script><script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script><script type="text/javascript" src="https://unpkg.com/react@15.3.1/dist/react.js"></script><script type="text/javascript" src="https://unpkg.com/react-dom@15.3.1/dist/react-dom.js"></script><link href="http://cdnjs.cloudflare.com
/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/><link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" text="text/css"/><link href="../assets/css/main.
css" rel="stylesheet" text="text/css"/><!--link(href=\'../css/main.less\', rel=\'stylesheet/less\', type=\'text/css\')--><!--script(src=\'https://cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.js\', type=\'text/javascript\')--><!--</head><
body><div class="wrap"><div class="navbar navbar-default"><div class="container-fluid"><div class="navbar-header"><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ari
a-expanded="false"><span class="sr-only"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="#"></a><div class="collapse navbar-collapse"><ul class="nav navbar-nav"><li><img href="umn.edu" alt="The University of Mi
nnesota" src="../assets/images/MN_logo.png" style="max-width: 60px; margin-top: 10px;"/></li><li><p class="navbar-text">Italian Immigrant Stories</p></li><li><a href="/">Home</a></li><li><a href="/documents">Document Search</a></li><li><a
 href="/#visiting">Visiting</a></li><li><a href="/about">About the Project</a></li></ul></div></div></div></div></div><div class="push"></div><hr/><div class="footer"><div class="container"><p class="text-muted"> A project from the <a hre
f="https://cla.umn.edu/french-italian">department of French and Italian</a> at the <a href="https://umn.edu">University of Minnesota.</a></p></div></div></body>'-->